.soil.record_details
  - if !singleton || soil.has_data?
    %h3.soil_name.record_name
      = soil.name
      - unless singleton
        %small.record_actions
          = link_to('Add soil test', new_soil_soil_test_path(soil))
          = link_to('Edit', edit_resource_path(soil))
          = link_to('Remove', resource_path(soil), :confirm => 'Are you sure?', :method => :delete)
  %table
    %thead
      %tbody
        = attribute_row(soil, :wrb98_name, :label => 'Classification')
        = attribute_row(soil, :description, :line_breaks => true)
        = non_attribute_row('Soil tests') do
          - render :partial => 'soil_tests/table', :locals => {:collection => soil.soil_tests}