= top_available_heading pluralize_without_count(@soils.length, "Soil")
- if can? :manage, @site
  #soils_actions.well
    - if @soils.count == 1
      = link_to "Edit", edit_resource_path(@soils.first), :class => 'btn'
      = link_to 'Add soil test', new_soil_soil_test_path(@soils.first), :class => 'btn'
      .pull-right
        = link_to "Add another soil type", {:action => :new}, :class => 'btn'
    - else
      = link_to "Add another soil type", {:action => :new}, :class => 'btn'
.row
  .span10
    = render :partial => 'table'
  .span6
    - if can? :edit, @site
      .page_explanation
        %h2 Study your existing soil web
        %p 
          Your existing soil will play a large role in deciding what you can include in your garden,
          and what site preparation work you'll need to do before planting.
        %p
          Try and record as much information about your soil as you can here, probably including getting
          some soil tests done and recording the results.
        %p
          If your site is large enough to have more than one type of soil, click the
          = link_to "Add another soil type", {:action => :new}
          button to include as many soils as you like, each with their own descriptions and
          soil test results.
