= simple_form_for [@brief, @yield], :wrapper => :inline do |f|
  = form_errors(f)
  .inputs
    = f.input :use_name, :label => 'Product', :as => :autocomplete, :url => autocomplete_use_name_brief_goals_yields_path
    = f.input :amount, :as => :amount_per_period
    = f.input :lead_time_in_years, :as => :string_with_add_on, :suffix => "years", :label => "Lead time", :input_html => {:class => 'mini'}
    = f.input :details, :input_html => {:rows => 2, :class => 'xxlarge'}
  .actions
    = f.button :submit, :class => 'primary'
    = link_to 'Cancel', @brief, :class => "btn"

= todo('Support particular month ranges for yield')
