= table_for(labour_input_goals) do |t|
  = t.data do
    = t.cell :job_name, :heading => 'Job'
    = t.cell :implementation_amount_with_period, :heading => 'During Implementation'
    = t.cell :maintenance_amount_with_period, :heading => 'During Maintenance'
    = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Edit', edit_project_labour_input_goal_path(@project, goal)) }
    = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Remove', [@project, goal], :confirm => 'Are you sure?', :method => :delete) }
