= table_for(labour_inputs) do |t|
  = t.data do
    = t.cell :job_name, :heading => 'Job'
    = t.cell :implementation_amount_with_period, :heading => 'During Implementation'
    = t.cell :maintenance_amount_with_period, :heading => 'During Maintenance'
    - if can? :edit, @brief
      = t.cell(:edit, :heading => '', :cell_html => {:class => 'actions'}) {|goal| link_to('Edit', edit_brief_goals_labour_input_path(@brief, goal)) }
      = t.cell(:remove, :heading => '', :cell_html => {:class => 'actions'}) {|goal| link_to('Remove', [@brief, goal], :confirm => 'Are you sure?', :method => :delete) }
  - if can? :create, Goals::LabourInput
    %tfoot
      - if labour_inputs.empty?
        %tr
          = table_help_footer_cell t, "Try to be realistic about how much time you have to work on the garden. If you aren't sure of the jobs to do yet, you can always add just one item here with your total time availability."
      %tr
        = table_link_footer_cell t, 'Add Another', new_brief_goals_labour_input_path(@brief)
