= table_for(labour_inputs) do |t|
  = t.data do
    = t.cell :job_name, :heading => 'Job'
    = t.cell :implementation_amount_with_period, :heading => 'During Implementation'
    = t.cell :maintenance_amount_with_period, :heading => 'During Maintenance'
    - if can? :edit, @brief
      = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Edit', edit_brief_goals_labour_input_path(@brief, goal)) }
      = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Remove', [@brief, goal], :confirm => 'Are you sure?', :method => :delete) }
  - if can? :create, Goals::LabourInput
    = table_link_footer t, 'Add Another', new_brief_goals_labour_input_path(@brief)
