.well
  %a.btn{"data-code" => "show", :href => "#"} Show Code
  
= simple_form_for @article, :wrapper => :inline do |f|
  - if f.error_notification
    .alert-message.warning.fade.in{"data-alert" => "alert"}
      %a.close{:href => "#"} ×
      %p= f.error_notification
  = field_set_tag "Article" do
    = f.input :name, :input_html => { :class => "span12" }, :hint => "add your article title here"
    = f.input :name, :wrapper => :prepend, :label => false do
      = content_tag :span, "Name", :class => "add-on"
      = f.input_field :name
    = f.input  :published, :as => :boolean
    = f.input :content_type, :collection => content_type_options, :hint => "multiple select", :input_html => { :multiple => true }
    = f.input :content, :input_html => { :class => "span12" }
    = f.input :disabled_text, :disabled => true, :hint => "an example of disabled input"
    = f.input :disabled_text, :wrapper => :prepend do
      = content_tag :label, :class => "add-on" do
        = check_box_tag :remove, 'true'
      = f.input_field :disabled_text
    = f.input :disabled_text, :wrapper => :append do
      = f.input_field :disabled_text, :class => :mini
      = content_tag :label, :class => "add-on active" do
        = check_box_tag :remove, 'true'
  .actions
    = f.button :submit, :class => 'primary'
    = button_tag 'Cancel', :type => :reset, :class => "btn"
