= simple_form_for @job, :wrapper => :inline do |f|
  = form_errors(f)
  .inputs
  = f.input :name, :input_html => { :class => "span8" }
  .actions
    = f.button :submit, :class => 'primary'
    = link_to 'Cancel', jobs_path, :class => "btn"
