= table_for(budget_goals) do |t|
  = t.data do
    = t.cell :budget_category_name, :heading => 'Stage'
    = t.cell(:amount) {|goal| goal.amount.format(:no_cents_if_whole => true)}
    = t.cell :timeframe_amount
    = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Edit', edit_project_budget_goal_path(@project, goal)) }
    = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Remove', [@project, goal], :confirm => 'Are you sure?', :method => :delete) }
