= simple_form_for [@brief, @budget_item], :wrapper => :inline do |f|
  = form_errors(f)
  .inputs
    = f.input :budget_category_name, :label => 'Stage', :as => :autocomplete, :url => autocomplete_budget_category_name_brief_goals_budget_items_path
    = f.input :amount, :as => :money
    = f.input :timeframe_amount, :as => :amount_with_unit, :label => "Timeframe", :hint => "Over what period will the money be spent?", :unit_options => {:label_processor => lambda {|key| key.pluralize}}
  .actions
    = f.button :submit, :class => 'primary'
    = link_to 'Cancel', @brief, :class => "btn"
