= simple_form_for [@brief, @feature], :wrapper => :inline do |f|
  = form_errors(f)
  .inputs
    = f.input :feature_name, :label => 'Name', :as => :autocomplete, :url => autocomplete_feature_name_brief_goals_features_path
    = f.input :description, :input_html => {:rows => 5}
  .actions
    = f.button :submit, :class => 'primary'
    = link_to 'Cancel', @brief, :class => "btn"
