= table_for(attachments) do |t|
  = t.data do
    = t.cell('', :cell_html => {:style => 'width: 1px'}) {|attachment| file_icon_link(attachment.file) }
    = t.cell('File') do |attachment| 
      - link_to(attachment.name, attachment.file.url) + ' ' + content_tag(:div, truncate(attachment.description, :length => 150), :class => 'details')
  - if can? :manage, Attachment
    = table_link_footer t, 'Manage Attachments', project_scope_attachments_path(@brief.project, 'goals')
