= table_for(collection) do |t|
  = t.data do
    = t.cell('File') {|attachment| link_to(attachment.name, attachment.file.url) }
    =# t.cell('Type') {|attachment| attachment.file.format }
    - if can? :edit, @project
      = t.cell('', :cell_html => {:class => 'actions'}) do |attachment|
        - link_to('Edit', edit_project_scope_attachment_path(@project, @scope, attachment))
      = t.cell('', :cell_html => {:class => 'actions'}) do |attachment| 
        - link_to('Remove', [@project, @scope, attachment], :confirm => 'Are you sure?', :method => :delete)
