= table_for(collection) do |t|
  = t.data do
    = t.cell(:icon, :heading => '', :cell_html => {:style => 'width: 1px'}) {|attachment| file_icon_link(attachment.file) }
    = t.cell('File') {|attachment| link_to(attachment.name, attachment.file.url) }
    = t.cell('Description', :cell_html => {:class => 'details'}) {|attachment| truncate(attachment.description, :length => 200) }
    - if can? :edit, @project
      = t.cell(:edit, :heading => '', :cell_html => {:class => 'actions'}) do |attachment|
        - link_to('Edit', edit_project_attachment_path(attachment_keys(@target, attachment)))
      = t.cell(:remove, :heading => '', :cell_html => {:class => 'actions'}) do |attachment| 
        - link_to('Remove', project_attachment_path(attachment_keys(@target, attachment)), :confirm => 'Are you sure?', :method => :delete)
