- semantic_navigation :site_analysis, :html => {:class => 'tabs'} do |n|
  = n.item 'Overview', :link => project_site_analysis_path(@project)
  = n.item 'Niches', :link => '/', :disabled_if => proc { true }
  = n.item 'Weather', :link => '/', :disabled_if => proc { true }
  = n.item 'Soil', :link => '/', :disabled_if => proc { true }
  = n.item 'Vegetation', :link => '/', :disabled_if => proc { true }
  = n.item 'Fauna', :link => '/', :disabled_if => proc { true }
  = n.item 'Bioregion', :link => '/', :disabled_if => proc { true }
