= simple_form_for @project, :wrapper => :inline, :html => {:multipart => true} do |f|
  = form_errors(f)
  = field_set_tag "Project Details" do
    = f.input :name, :input_html => { :class => "span8" }, :hint => "add your project title here"
    = f.association :project_category, :label => 'Category'
    = f.input :address, :input_html => { :class => "span8" }, :hint => "If you don't have an address, list a nearby town"
    = f.input :site_area, :as => :amount_with_unit
    = f.input :climate_zone, :as => :inferred_select
    = f.input :description, :as => :text, :hint => "A very short description of your desired outcomes", :input_html => { :class => "xlarge", :rows => 5 }
    = f.input :photo, :as => :image, :label => '"Before" photo'
  = field_set_tag "Project Settings" do
    = f.input :preferred_currency, :label => 'Currency', :as => :select, :collection => Money::Currency::TABLE.map {|row| [row.last[:name], row.last[:iso_code]]}.sort, :allow_blank => true
    = f.input :preferred_measures, :label => 'Measurements', :as => :inferred_select
    = f.input :is_public, :as => :select
    .nested_form.clearfix
      %label.nested_form_label Collaborators
      = f.full_error :project_collaborators, :class => 'nested-form-error'
      %table.nested_form_contents.form-stacked.zebra-striped.bordered-table{:class => (f.object.errors[:project_collaborators].empty? ? nil : 'nested-records-with-errors')}
        %thead
          %tr
            %th User
            %th Project Role <abbr title="required">*</abbr>
            %th
        %tbody#project_collaborators
          = f.simple_fields_for :project_collaborators, :wrapper => :horizontal do |collab|
            = render 'project_collaborator_fields', :f => collab
        %tfoot
          %tr
            %td.table_actions{:colspan => 3}
              = link_to_add_association 'Add a collaborator', f, :project_collaborators, :'data-association-insertion-node' => '#project_collaborators', :'data-association-insertion-method' => 'append'

  .actions
    = f.button :submit, :class => 'primary'
    = link_to 'Cancel', @project, :class => "btn"

= todo("Set initial currency and measures from Country")
