%tr.nested-fields{:class => (f.object.errors.empty? ? nil : 'nested-record-with-errors')}
  %td
    = f.input_field :user
    = f.error :user
  %td
    = f.input_field :project_role, :as => :select, :collection => ProjectCollaborator::PROJECT_ROLES
    = f.error :project_role    
  %td.action
    = link_to_remove_association "Remove", f
