%tr.nested-fields{:class => (f.object.errors.empty? ? nil : 'nested-record-with-errors')}
  %td
    - if f.object && !f.object.new_record? && f.object.community
      = link_to f.object.community_name, f.object.community, :confirm => "If you leave this page to visit the community page, your changes on this form will be lost."
    - else
      = f.input_field :community_name, :as => :autocomplete, :url => autocomplete_community_name_communities_path
    = f.error :community_name
  %td
    .access_level
      = f.input_field(:access, :as => :select, :collection => ProjectCommunity::ACCESS_LEVELS)
      %span.add-on
        your project
    = f.error :access
  %td.action
    = link_to_remove_association "Remove", f
