%article
  .content
    %header
      %h1
        = @project.name
        %small= link_to "edit", edit_project_path(@project)
    .row
      .span10
        %table
          %thead
            %tbody
              - unless @project.address.blank?
                %tr
                  %td
                    %strong Address
                  %td= @project.address
                %tr
                  %td
                    %strong Lat / Lon
                  %td= "#{@project.lat} / #{@project.lng}"
              = attribute_row(@project, :hemisphere)
              = attribute_row(@project, :climate_zone)
              = attribute_row(@project, :size_with_unit, :label => 'Size')
      .span6
        - if @project.photo_uid
          %ul.media-grid
            %li
              = link_to @project.photo.url do
                = image_tag @project.photo.thumb('330x230#').url
        = project_map(@project)
