%article
  .content
    %header
      %h1
        = @project.name
    - if can? :edit, @project
      .well
        = link_to "Edit Details", edit_project_path(@project), :class => 'btn'
    .row
      .span10
        %table
          %thead
            %tbody
              = attribute_row(@project, :project_category, :label => 'Category')
              - unless @project.address.blank?
                %tr
                  %td
                    %strong Address
                  %td= @project.address
                %tr
                  %td
                    %strong Lat / Lon
                  %td= "#{@project.latitude} / #{@project.longitude}"
                = attribute_row(@project, :hemisphere)
                = attribute_row(@project, :site_area_with_unit, :label => 'Size')
                = attribute_row(@project, :climate_zone)
                = attribute_row(@project, :description)              
                - if @project.photo_uid
                  %tr
                    %td
                      %strong Before
                    %td
                      = single_image_grid @project.photo
      .span6
        - if @project.latitude
          = project_map(@project)
          
        %h2 Collaborators
        = render :partial => 'project_collaborators/mini_table', :locals => {:project_collaborators => @project.project_collaborators}

        - unless @project.project_communities.empty?
          %h2 Communities
          = render :partial => 'project_communities/mini_table', :locals => {:project_communities => @project.project_communities}

        