%h1 Your Goals
- if can? :edit, @brief
  .well
    = link_to 'Edit Overview', {:action => :edit}, :class => 'btn'
    = link_to 'Attach File', new_project_scope_attachment_path(@brief.project, 'goals'), :class => 'btn'
    = link_to 'New Yield', new_brief_goals_yield_path(@brief), :class => 'btn'
    = link_to 'New Feature', new_brief_goals_feature_path(@brief), :class => 'btn'
    = link_to 'New Labour Input', new_brief_goals_labour_input_path(@brief), :class => 'btn'
    = link_to 'New Budget Item', new_brief_goals_budget_item_path(@brief), :class => 'btn'
.row
  .span10
    #brief
      %table
        %thead
          %tbody
            = attribute_row(@brief, :description, :label => 'Overview', :line_breaks => true)
    
    - if can?(:edit, @brief) || !@brief.yields.empty?
      #yields
        %h2 
          Yields
          %small What do you want to be able to harvest?
        %br
        = render :partial => 'goals/yields/table', :locals => {:yields => @brief.yields}
    
    - if can?(:edit, @brief) || !@brief.features.empty?
      #features
        %h2 
          Features
          %small Non-quantifiable characteristics of your garden
        %br
        = render :partial => 'goals/features/table', :locals => {:features => @brief.features}

    - if can?(:edit, @brief) || !@brief.labour_inputs.empty?
      #labour_inputs
        %h2
          Labour Inputs
          %small How much work do you want to have to put in?
        %br
        = render :partial => 'goals/labour_inputs/table', :locals => {:labour_inputs => @brief.labour_inputs}

    - if can?(:edit, @brief) || !@brief.budget_items.empty?
      #budget_items
        %h2
          Budget
          %small Finances broken down by project stage
        %br
        = render :partial => 'goals/budget_items/table', :locals => {:budget_items => @brief.budget_items}
    
  .span6
    .page_explanation
      - if can? :edit, Project
        %h2 What are you Building?
        %p
          It's important to have some goals in mind before you get started on design. These goals, collected together
          with any other supporting documentation, make up your design brief.
        %p
          You could use your design brief to explain what you want designed to a professional permaculture designer,
          but even if you are doing all the design yourself, you'll want to be able to check back here regularly to see
          if your plan is going to achieve the goals you had in mind.
    - if !@project.attachments.where(:scope => 'goals').empty?
      %h2 Attachments
      %br
      = render :partial => 'attachments/mini_table', :locals => {:attachments => @project.attachments.where(:scope => 'goals')}

= todo("Tables should look good with no data, and provide some explanation")