= simple_form_for [@site, @yield_goal], :wrapper => :inline, :html => {:multipart => true} do |f|
  = form_errors(f)
  .inputs
    = f.input :use_name, :label => 'Product'
    = f.input :amount, :as => :amount_with_unit
    = f.input :period, :as => :amount_with_unit, :hint => "how often do you expect the yield amount?"
    = f.input :lead_time_in_years, :as => :string_with_add_on, :suffix => "years", :label => "Lead time", :input_html => {:class => 'mini'}
    = f.input :details, :input_html => {:rows => 2, :class => 'xxlarge'}
  .actions
    = f.button :submit, :class => 'primary'
    = link_to 'Cancel', site_goals_path(@site), :class => "btn"
