%table.zebra-striped.bordered-table.desired_yields
  %thead
    %tr
      %th Product
      %th Amount
      %th Lead Time
      %th Details
      %th &nbsp;
  %tbody
    - yield_goals.each do |yield_goal|
      %tr
        %td= yield_goal.use_name
        %td= yield_goal.amount_period_string
        %td= yield_goal.lead_time_string
        %td.details= yield_goal.details
        %td
          = link_to 'Edit', edit_site_yield_goal_path(@site, yield_goal)
          = link_to 'Destroy', [@site, yield_goal], :confirm => 'Are you sure?', :method => :delete

%h2 
  Example table only
  %small will be removed when the above is working
%table.zebra-striped.bordered-table.desired_yields
  %thead
    %tr
      %th Product
      %th Amount
      %th Lead Time
      %th Details
  %tbody
    %tr
      %td Firewood
      %td 1 m<sup>3</sup> per year
      %td 5 years
      %td.details Coppice round wood lengths
    %tr
      %td Timber
      %td 5 m<sup>3</sup> per decade
      %td 30 years
      %td.details Fine furniture timbers: walnut, cherry, oak, maple, etc.
    %tr
      %td Fruit
      %td 
        2 kg per month
        %span.month_range (Oct - Apr)
      %td 5 years
      %td.details Some suitable for fruit leathers, jam, preserves.
    %tr
      %td Herbs &amp; Spices
      %td 5 varieties per year
      %td 10 years
      %td.details
    %tr
      %td Fresh Greens
      %td 
        1 kg per month
      %td 3 years
      %td.details 
    %tr
      %td Mulberry Leaves
      %td 
        5 kg per month
      %td 8 years
      %td.details For silkworm husbandry
