= table_for(yield_goals) do |t|
  = t.data do
    = t.cell :use_name, :heading => 'Product'
    = t.cell :amount_period_string, :heading => 'Amount'
    = t.cell :lead_time_string, :heading => 'Lead Time'
    = t.cell :details, :heading => 'Details', :cell_html => {:class => 'details'}
    = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Edit', edit_site_yield_goal_path(@site, goal)) }
    = t.cell('', :cell_html => {:class => 'actions'}) {|goal| link_to('Remove', [@site, goal], :confirm => 'Are you sure?', :method => :delete) }
