%h1 Your Goals
.well
  = link_to 'New Yield', new_site_yield_goal_path(@site), :class => 'btn'
  = link_to 'New Input', '#', :class => 'btn'
  = link_to 'Edit Budget', '#', :class => 'btn'
.row
  .span10
    %h2 
      Desired Yields
      %small What do you want to be able to harvest?
    %br
    = render :partial => 'yields_table'
    
    %h2
      Desired Inputs
      %small How much do you want to have to put in?
    %br
    = render :partial => 'inputs_table'

    %h2
      Budget
      %small Finances broken down by project stage
    %br
    = render :partial => 'budget_table'
    
  .span6
    %h2 Be Realistic
    %p
      Select the uses that you'd like to get out of your forest garden.
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
