%h1 Your Goals
- if can? :edit, Project
  .well
    = link_to 'New Yield', new_project_goals_yield_goal_path(@project), :class => 'btn'
    = link_to 'New Labour Input', new_project_goals_labour_input_goal_path(@project), :class => 'btn'
    = link_to 'New Budget Item', new_project_goals_budget_goal_path(@project), :class => 'btn'
.row
  .span10
    %h2 
      Yields
      %small What do you want to be able to harvest?
    %br
    = render :partial => 'goals/yield_goals/table', :locals => {:yield_goals => @project.yield_goals}

    %h2 
      Features
      %small Non-quantifiable characteristics of your garden
    %br
    =# render :partial => 'goals/feature_goals/table', :locals => {:yield_goals => @project.feature_goals}
    
    %h2
      Labour Inputs
      %small How much work do you want to have to put in?
    %br
    = render :partial => 'goals/labour_input_goals/table', :locals => {:labour_input_goals => @project.labour_input_goals}

    %h2
      Budget
      %small Finances broken down by project stage
    %br
    = render :partial => 'goals/budget_goals/table', :locals => {:budget_goals => @project.budget_goals}
    
  .span6
    .page_explanation
      - if can? :edit, Project
        %h2 Be Realistic
        %p
          Select the uses that you'd like to get out of your forest garden.
        = todo("explanation text for picking goals, including some book references")

= todo("Tables should look good with no data, and provide some explanation")