%h1 Your Goals
.well
  = link_to 'New Yield', new_site_yield_goal_path(@site), :class => 'btn'
  = link_to 'New Labour Input', new_site_labour_input_goal_path(@site), :class => 'btn'
  = link_to 'Edit Budget', '#', :class => 'btn unimplemented'
.row
  .span10
    %h2 
      Desired Yields
      %small What do you want to be able to harvest?
    %br
    = render :partial => 'yield_goals/table', :locals => {:yield_goals => @site.yield_goals}
    
    %h2
      Labour Inputs
      %small How much work do you want to have to put in?
    %br
    = render :partial => 'labour_input_goals/table', :locals => {:labour_input_goals => @site.labour_input_goals}

    .unimplemented
      %h2
        Budget
        %small Finances broken down by project stage
      %br
      = render :partial => 'budget_table'
    
  .span6
    %h2 Be Realistic
    %p
      Select the uses that you'd like to get out of your forest garden.
    = todo("explanation text for picking goals, including some book references")

= todo("Each table should have a \"new record\" button nearby")
= todo("Tables should look good with no data, and provide some explanation")