= simple_form_for [:admin, @user] do |f|
  = form_errors(f)
  .inputs
    = f.input :email
    = f.input :name
    = f.input :role, :collection => User::ROLES
  .actions
    = f.button :submit, :class => 'primary'
    = link_to 'Cancel', admin_users_path, :class => "btn"
