= table_for(@users) do |t|
  = t.data do
    = t.cell('', :cell_html => {:class => 'avatar'}) {|user| image_tag(user.gravatar_url, :alt => '')}
    = t.cell :email
    = t.cell :name
    = t.cell :role
    = t.cell('') {|user| link_to('Edit', edit_admin_user_path(user)) }
    = t.cell('') {|user| link_to('Remove', [:admin, user], :confirm => 'Are you sure?', :method => :delete) }
