= simple_form_for resource do |f|
  = form_errors(f)
  .inputs
    = f.input :name
    = f.input :photo, :as => :image, :hint => "A photo, logo or other image representing your community"
    = f.input :description
  = form_actions(f)
