%article
  .content
    .row
      .span6
        %h3 Site Location
        = gmaps4rails(@json)
      .span8
        %header
          %h1
            = @site.name
            %small= link_to "edit", edit_site_path(@site)
        %table
          %thead
            %tbody
              - unless @site.address.blank?
                %tr
                  %td
                    %strong Address
                  %td= @site.address
                %tr
                  %td
                    %strong Lat / Lon
                  %td= "#{@site.lat} / #{@site.lng}"
              = attribute_row(@site, :climate_zone)
              = attribute_row(@site, :size_with_unit, :label => 'Size')
              = attribute_row(@site, :soil_type)
              = attribute_row(@site, :solar_aspect)
              = attribute_row(@site, :weather_conditions)
              = attribute_row(@site, :other_considerations)
        - if @site.photo_uid
          %ul.media-grid
            %li
              = link_to @site.photo.url do
                = image_tag @site.photo.thumb('500x300#').url