- content_for :breadcrumb do
  %li
    = link_to "Sites", sites_path
    %span.divider /
  %li.active= @site.name
%article
  .content
    .row
      .span6
        = gmaps4rails(@json)
      .span8
        %header
          %h1
            = @site.name
            %small= link_to "edit", edit_site_path(@site)
        %dl
          %dt Address
          %dd
            %address
              = @site.address
          %dt Climate zone
          %dd= @site.climate_zone
