%article
  .content
    %header
      %h1
        = @site.name
        %small= link_to "edit", edit_site_path(@site)
    .row
      .span10
        %table
          %thead
            %tbody
              - unless @site.address.blank?
                %tr
                  %td
                    %strong Address
                  %td= @site.address
                %tr
                  %td
                    %strong Lat / Lon
                  %td= "#{@site.lat} / #{@site.lng}"
              = attribute_row(@site, :hemisphere)
              = attribute_row(@site, :climate_zone)
              = attribute_row(@site, :size_with_unit, :label => 'Size')
              = attribute_row(@site, :soil_type, :line_breaks => true)
              = attribute_row(@site, :solar_aspect, :line_breaks => true)
              = attribute_row(@site, :weather_conditions, :line_breaks => true)
              = attribute_row(@site, :other_considerations, :line_breaks => true)
      .span6
        = gmaps4rails(@json)
        %br
        - if @site.photo_uid
          %ul.media-grid
            %li
              = link_to @site.photo.url do
                = image_tag @site.photo.thumb('330x230#').url
