.topbar
  .topbar-inner
    .container
      %a.brand{:href => "/"} Creating a Forest Garden
      %ul.nav
        - if user_signed_in?
          - if current_user.site
            %li= link_to "Site", site_path(current_user.site)
          - else
            %li= link_to "New Site", new_site_path

          - if can?(:manage, Site) || can?(:manage, User)
            %li.dropdown{"data-dropdown" => "dropdown"}
              %a.dropdown-toggle{:href => "#"} Admin
              %ul.dropdown-menu
                - if can?(:manage, Site)
                  %li= link_to "Sites", sites_path
                - if can?(:manage, User)
                  %li= link_to "Users", admin_users_path
      .pull-right
        %ul.nav
          - if current_user
            %li= link_to "Log-out", '/users/sign_out', :method => :delete
          - else
            %li= link_to "Log-in", '/users/sign_in'
            %li= link_to "Sign-up", '/users/sign_up'
