!!!
%html
  %head
    %title Creating a Forest Garden
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container
          %a.brand{:href => "/"} Creating a Forest Garden
          %ul.nav
            %li= link_to "Home", root_path
            %li.dropdown{"data-dropdown" => "dropdown"}
              %a.dropdown-toggle{:href => "#"} Sites
              %ul.dropdown-menu
                %li= link_to "List", sites_path
                %li= link_to "New Site", new_site_path
    .container
      %p breadcrumb below here
      %ul.breadcrumb
        = yield :breadcrumb
      - if notice
        .alert-message.success.fade.in{"data-alert" => "alert"}
          %a.close{:href => "#"} ×
          %p= notice
      - if alert
        .alert-message.success.fade.in{"data-alert" => "alert"}
          %a.close{:href => "#"} ×
          %p= alert
      = yield
    = javascript_include_tag "application"
    = yield :scripts