!!!
%html
  %head
    = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/topbar'
    .page_body
      .container
        = render :partial => 'layouts/project_tabs'
        = render :partial => 'layouts/notice'
        = yield :subsection_tabs
        %div{:class => yield(:content_class)}
          = yield
    = render :partial => 'layouts/footer'
