!!!
%html
  %head
    = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/topbar'
    .container.below_topbar
    
      - semantic_navigation :main, :html => {:class => 'tabs'} do |n|
        = n.item 'Site', :link => site_path(@site), :highlights_on => [{:controller => 'sites'}]
        = n.item 'Goals', :link => site_goals_path(@site), :highlights_on => [{:controller => 'goals'}]
        = n.item 'Elements', :link => '/', :disabled_if => proc { true }
        = n.item 'Design', :link => '/', :disabled_if => proc { true }
        = n.item 'Implement', :link => '/', :disabled_if => proc { true }
        = n.item 'Maintain', :link => '/', :disabled_if => proc { true }

      / = render_crumbs(:format => :html_list, :ul_class => 'breadcrumb', :active_li_class => 'active', :separator => content_tag(:span, ' / ', :class => 'divider')).html_safe

      = render :partial => 'layouts/notice'
      = yield
    = render :partial => 'layouts/footer'
